@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
  
}
/* scroll bar  */
::-webkit-scrollbar{
  width:10px;
  
}
::-webkit-scrollbar-thumb{
  background-color: #0064b1;
  border-radius: 25px;
  min-height: 10px;
}
p{
  font-size: 14px;
  color:#000
}
h3{
  font-size: 20px !important;
  font-weight: 800;
  color:#000
}
/* start navbar  */
.bigNavbar{
  border-bottom:1px solid #D7D7D7;
}
.navbar-light .navbar-brand {
  color:#035798 !important;
  font-weight: bolder;
}
 .navbar .navbar-light .navbar-nav .nav-link{
   color:#000 !important
 }
.navbar .nav-link.active {
  color: #035798 !important
}
.btn-primary {
  color: #fff !important;
  background-color: #035798 !important;
  border-color: #035798 !important;
}
.navbar a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  margin: 0px 13px;
  text-transform: capitalize;
}


/* end navbar */
/* start section 1 */
.section1{
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .section1 .stars{
    position:absolute ;
    left:78% ;
     top:25%
}
}
.section1 .caruselBackground{
    position: relative;
    float: right;
    margin-right: 9%;
    width: 400px;
    height: 255px;
    background-color: #d9efff;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px; 
    border-bottom: 0;
}
.section1 .caruselBackground img{
  position: absolute;
  left:36%;
  height: 100%;
}
.section1 .stars {
  position: absolute;
  left: 63%;
  top: 80%;
  z-index: 999;
}
.section1 .caruselBackground .stars .star{
   position: absolute;
    right: 250px;
}
.carousel-caption{
  position: absolute;
  right:  50% !important;
}
.section .carousel-caption{
  position: absolute;
  right:  50% !important;
}
.section1 .btn-primary{
  margin-top: 19px;
}
.carousel-indicators{
  display: none !important;
}
.section1 .carousel-control-next-icon{
       background-image: url('../src/assets/images/271220.svg'); 
}
.section1 .carousel-control-prev-icon{
  background-image: url('../src/assets/images/271228.svg'); 
}
@media only screen and (max-width: 600px) {
  .section1 .carousel-caption{
    display: none !important;
}
}

/* end section 1 */
/* start section 2 */
.section2{
  background-color: #f9f9f9;
}
.section2 .leftSide  {
 position: relative;
 margin-left: 20%;
 margin-bottom: 10%;
 margin-top: -5%;
}
.section2 .leftSide  img{
  height: 323px;
  margin-top: 25px;
 }
.section2 .leftSide::after{
  content: '';
  height: 50%;
  width: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #0064b1; 
  transition: height 2s ease;
}
.section2 .leftSide::before{
  content: '';
  height: 50%;
  width: 2px;
  position: absolute;
  left: 81px;
  bottom: -79px;
  background-color: #0064b1; 
  transform: rotate(90deg);
  transition: height 2s ease;
 
}
.section2 .leftSide:hover::after {
   height: 100%;
}
/* end section 2 */
/* start section 3 */
.section3{
  background-color: #f9f9f9;
  padding-bottom: 50px;
}
.section3 .react-multi-carousel-item {
  width: 270px !important;
  margin-right: 30px;
}
.section3 .card{
 height: auto;
}

.section4{
  /* position :"relative";
  width:"100%" ; */
  background-image: url('../src/assets/images/component.png');
  /* background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat'; */
}
/* end section 2 */
.section5{
  position: relative;
}
.section5 ul{
  line-height: 4;
}
.section5 .innerTabb  {
  margin-top:30px;
  margin-left: 25%;
  margin-bottom: 30px;
}
.section5 .innerTabb h1{
  padding-top: 30px;
}
.section5 .tab-item-wrapper h1{
  margin-bottom: 30px;
}
.section5 .bottomSection{
  margin-top: 50px;
}
.section5 .bottomSection p{
  color:#fff !important
}
.section5 .innerTabb .nav-tabs .nav-link.active {
  background-color: black !important;
}
@media only screen and (max-width: 600px) {
  .section5 .innerTabb{
    margin-left: -10%;
  }
}
.section5 li{
  font-size:10px;
  list-style-type: circle;
  
}
.text-blue{
    color: #035798;
}
.bg-blue{
    background-color: #035798;
}
.text-white{
  color:white
}

/* editing in bootstrap classes  */

 /* .nav-tabs {
  border-bottom: 1px solid transparent !important;
  position: absolute;
  top:-42px;
  background-color: #f1f1f1 !important;
} */
.tab-content{
  padding-top: 50px !important;
 
}
.nav-tabs .nav-link {
  border-bottom: 1px solid #D7D7D7 !important; 
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: white !important;
   
}


.innerTabb{
  border-bottom: 1px solid #000 !important;
}
 .nav-tabs {
  border-bottom: 1px solid transparent !important;
  position: absolute !important;
  top:-42px !important;
  background-color: #f1f1f1 !important;
}
.innerTabb  .nav .nav-tabs{
  background-color: #000 !important;
}

/* start sign In Page */
.signIn .formElement{
  margin-bottom: 45px;
  border-radius: 20px;
  padding-left: 50px;
}
.signIn .formButton{
  border-radius: 20px;
}
.signIn .formButton:hover{
  background-color: #000 !important;
  transition: 1s all ease-in-out;
}
.signIn img{
  height: 340px;
  width:100%
}
.signIn .icon{
    width: 20px;
    height: 20px;
    transform: translate(20px, 28px);
    opacity: 0.6;
}